@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEFAF6;
  color: #638889;
}

.bg-cream { background-color: #F9EFDB; }
.bg-beige { background-color: #FEFAF6; }
.bg-muted-green { background-color: #FBC687; }
.bg-dark-slate { background-color: #638889; }
.btn-hover {
  transition: all 0.3s ease;
  background-color: #597a7b;
}

.text-cream { color: #F9EFDB; }
.text-beige { color: #FEFAF6; }
.text-muted-green { color: #9DBC98; }
.text-dark-slate { color: #638889; }

.bg-image-div {
  background-image: url('/background.jpg'); 
  background-size: cover; 
  background-position:  center; 
}
.custom-checkbox-label {
  position: relative;
  display: block;
  width: 24px;  
  height: 24px;
  cursor: pointer;
}

.custom-checkbox-label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #ccc;  
  border-radius: 50%;      
  transition: all 0.3s;
}

.custom-checkbox-label input:checked + .custom-checkbox {
  background-color: #FDAF7B;  
  box-shadow: inset 0 0 0 4px white;  
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-label input:checked + .custom-checkbox:after {
  display: block;
}

.custom-checkbox-label .custom-checkbox:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}




